$background-color-capitan-ejercicio: hsl(38deg, 78%, 64.3%);
$background-color-divs-footer: hsl(210deg, 1.6%, 24.7%);
$font-main-color: hsl(0°,0%,100%);
$width12: percentage(12/12);
$width3: percentage(3/12);

@mixin background-and-text-color {
  font: {
    family: Helvetica;
    size:10px;
  }
  background-color: $background-color-divs-footer;
  color: $font-main-color;
}


#title{
  background-color: $background-color-capitan-ejercicio;
  width: $width12;
}

#title{
  h1{
    color: $font-main-color;
  }
}

div{
  ul{
    li{
      background-color: $background-color-divs-footer;
      color: $font-main-color;
      width: $width3;
    }
  }
}

.aside{
  @include background-and-text-color;
  width: $width3;
}

.footer{
  @include background-and-text-color;

}
